/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #bb8f92; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

.particlesContainer {
    height: 100vh;
    position: relative;
    text-align: center;
}
.particlesPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(238, 238, 238);
     
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;

    box-shadow: 1rem 1rem 0.5rem black;

    /* No select */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
.particlesPopupTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}
.particlesMoreInfo {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.readMoreButton {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 auto;
    border-radius: 0.5em;
    max-width: 110px;
}
.readMoreButton:hover {
    background-color: bisque;
}

/*  Desktop and tablets */
@media (min-width: 600px){
    .particlesPopup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(238, 238, 238);
         
        display: flex;
        flex-direction: row;
        padding: 1rem;
        border-radius: 1rem;
    }
}